@import "https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Solitreo&display=swap";

$color_1: black;
$color_2: #bdcfd4;
$color_3: transparent;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'Solitreo', cursive;
$background-color_1: blanchedalmond;
$background-color_2: #66ccff;
$background-color_3: #E09a43;
$background-color_4: rgba(33, 37, 41, 0.2);
$background-color_5: rgba(33, 37, 41, 0.4);
$border-color_1: #e1793b;
$border-color_2: #1e6c94;
$border-color_3: #94590f;